@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
}

body{
        background-image: url(anon-hack.webp);
        background-repeat: no-repeat;
        background-size: cover;
        height: 500px;
        width: 100vh;
        font-family: 'Lato', sans-serif;
        font-size: 25px;
        color: #00ff00;
       
}
@media only screen and (max-width: 900px) and (min-width:100px){
  body {
        background-image: url(phone-hacker.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
       font-size: 20px;
      
  }
}
/* @media only screen and (max-width: 1000px) and (min-width:600px){
  body {
    background-image: url(anon-hack.webp);
    /* background-repeat: no-repeat;
    background-size: cover; */
    /* height: 1000px;
    width: 100vh; */
/*       
  }
} */ 